In [1]:
700 / (900+1_200+700)*100

25.0

In [4]:
## assigning variable names
alfred_monthly_23 = 900 
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [8]:
## assigning variable names more efficiently
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [12]:
## call vars
alfred_m
fatima_monthly_23
# trina_m

1200

In [14]:
## you can also call vars this way
alfred_m, fatima_monthly_23, trina_m

(900, 1200, 700)

In [15]:
## to calculate trina's share using vars
trina_m / (alfred_m + fatima_m + trina_m) *100

25.0

In [17]:
## create a variable for the result, and then call the variable 
trina_share_23 = trina_m / (alfred_m + fatima_m + trina_m) *100
trina_share_23

25.0

In [22]:
## easier to read
trina_share_23 = \
trina_m / (alfred_m +\ 
           fatima_m +\
           trina_m) *\
                    100

SyntaxError: unexpected character after line continuation character (1832143394.py, line 3)